<%= @list.name %>
<ul>
<% @list.bookmarks.each do |bookmark|%>
  <li>
    <h2><%= bookmark.movie_id %></h2>
    <%= link_to "delete",
            bookmark_path(bookmark[:id]),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
